html
    head
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="assets/style.css")
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header.left
                    a.navbar-brand(href='#') Voting App
                ul.nav.navbar-nav
                    li
                        a(href='#') Home
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#") Sign up
                    li
                        a(href="#") Login
        .row.app
            .col-md-12
                p.votingtext.text-center
                    |Voting App
                p.desc.text-center
                    |Create, manage, share your app.
        .row.something
            .col-md-12
                p.smth.text-center
                    |Something
        hr
        .row.me
            .col-md-12
                p.met.text-center
                    |FreeCodeCamp | @bektaz